.Title {
  color: #ce8757;
  text-align: center;
  margin: 2rem;
  font-size: 2.5rem;
}

.CocktailForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  min-width: 20rem;
  min-height: 20rem;

  padding: 3rem;
  border-radius: 8px;

  background-color: rgba(4, 4, 4, 0.85);

  label {
    color: white;
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;
  }

  input {
    margin: 1.5rem;
    padding: 0.7rem;
    border: none;
    width: 30rem;
    border-radius: 15px;
    background-color: #a15c2a80;
    text-align: center;
    font-size: 2rem;
    color: white;
  }
  .AddButton {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 4rem;
    transition: 0.4s;
    &:hover {
      transform: scale(1.2);
    }
  }

  .SubmitButton {
    background-color: #cc9c7c;
    font-size: 2rem;
    color: black;
    border: none;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    transition: 0.4s;

    &:hover {
      background-color: #7c9c7c;
      transform: scale(1.15);
      box-shadow: 0 0 0.5rem black;
    }
  }
}
