.Cocktail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  padding: 3rem;
  margin: 1rem;
  border-radius: 8px;

  background-color: rgba(4, 4, 4, 0.85);

  .Title {
    color: #ce8757;
    text-align: center;
    margin: 2rem;
    font-size: 3rem;

    @media screen and (max-width: 30em) {
      font-size: 2.3rem;
    }
  }

  .Img {
    margin: 2rem;
    max-width: 100%;
    margin: 1rem;
  }
}
