.Cocktail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  min-width: 20rem;
  min-height: 20rem;

  padding: 30px;
  border-radius: 8px;

  background-color: rgba(4, 4, 4, 0.85);

  .Title {
    color: #ce8757;
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
  }

  .Img {
    margin: 2rem;
    max-height: 40rem;
    max-width: 40rem;
  }
}
